*
!.gitignore
!musics/
!musics/pixabay/
!musics/pixabay/*.mp3
!musics/pixabay/previews/
!musics/pixabay/previews/*.mp3
!templates/
!templates/bali-preview/
!templates/bali-preview/*.jpg
!templates/bali-heritage/
!templates/bali-heritage/*.jpg
